*{
	margin: 0;
	padding: 0;
}

/*
*
*
Estilo para o conteúdo do nosso site
*
*
*/

html,body{
	height: 100%; 
}

.pai{
	width: 1280px;
	margin: 0 auto;
	padding: 30px 0;
	background: blue;
}

.child{
	vertical-align:top;
	display: inline-block;
	width: 640px;
	/*Resets para o inline-block funcionar com base nos cálculos*/
	margin-right: -4px;
	margin-bottom: -4px;
	/***/
	background: red;
	height: 300px;
}


 span{
	/* O display inline é o padrão! */
        /* O display inline serve especialmente para textos. Não podemos definir largura e nem altura. Apenas margins e
         padding na horizontal(left e right) */
      display:inline;
      border-bottom:5px solid blue;
 }


